<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SalesForceTestCasesFrameWork">
<listeners>
<listener class-name="com.training.listeners.TestListener"></listener>

</listeners>
  <test  name="Login">
  <classes>
     <class name="com.training.tests.LoginTest"/>
      <class name="com.training.tests.HomeTest"/>
        <class name="com.training.tests.AccountTest"/>
        <class name= "com.training.tests.OpportunitiesTest"/>
        <class name="com.training.tests.LeadsTest"/>
        <class name="com.training.tests.ContactsTest"/>
        <class name="com.training.tests.RandomScenariosTest"/>
  </classes>
  </test> 
</suite> 
